 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: Arial, sans-serif;
     min-height: 100vh;
     max-height: 100dvh;
     background-color: #FAFAFA;
     color: black;
     display: grid;
     grid-template-columns: auto 1fr;
     height: 100vh;
 }

 a {
     text-decoration: none;
 }

 #logout-button {
     margin-top: 20px;
     padding: 10px;
     text-align: center;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     background: #F8F8F8;
     transition: background 0.3s ease;
}

 #logout-button:hover {
     background-color: #0F3923;
     color: #F5F5F5;
 }

 #topbar {
    width: 100%;
    height: 50px; /* Adjust height as needed */
    background-color: #F5F5F5; /* Dark background */
    color: #0F3923;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; /* Fix the top bar at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
}

 .topbar-content {
    width: 100%;
    max-width: 1200px;

}



 .page-container {
    display: flex;
     flex-grow: 1;
    padding-top: 50px; /* Offset for the fixed top bar */
    height: calc(100vh - 50px); /* Full height minus top bar */
    align-items: stretch;
 }



 #sidebar {
     height: 100%;
     box-sizing: border-box;
     width: 250px;
     padding: 5px 1em;
     background-color: #F5F5F5;

     position: sticky;
     top: 0;
     align-self: start;
     transition: 300ms ease-in-out;
     overflow: hidden;
     text-wrap: nowrap;
      display: flex;
     flex-direction: column; /* Ensures content inside stacks properly */
    flex-shrink: 0;

 }

 header span {
     font-size: 38px;
     font-weight: bold;
 }

 .logo-name {
     display: flex;
     align-items: center;
     justify-content: center;
     padding-left: 0;
 }

 #sidebar.close {
     padding: 5px;
     width: 60px;
     transition: 300ms ease-in-out;
 }

 #sidebar ul {
     list-style: none;
 }

 #sidebar a, #sidebar .dropdown-btn, #sidebar .name-app {
     text-decoration: none;
     border-radius: .5em;
     padding: .85em;
     color: #1C1C1E;
     display: flex;
     align-items: center;
     gap: 1em;
 }
 #sidebar > ul > li:first-child {
     display: flex;
     justify-content: flex-end;
     margin-bottom: 16px;
 }

 #sidebar ul li.active a {
     background: #0F3923;
     color: #F5F5F5;

 }

 #sidebar img {
     flex-shrink: 0;
 }

 #sidebar a:hover, #sidebar .dropdown-btn:hover {
    filter: brightness(150%) ;
     transition: 300ms ease-in-out;
 }

 #sidebar .sub-workspace {
     transition: 300ms ease-in-out;
     grid-template-rows: 0fr;

     /*display: none;*/

 }

 .dropdown-btn:hover .sub-workspace:hover {
     display: block;

 }


 #sidebar .sub-menu.show {
     grid-template-rows: 1fr;
 }

 
 .dropdown-btn {
     width: 100%;
     text-align: left;
     background: none;
     border: none;
     font: inherit;
     cursor: pointer;
 }

 #toggle-btn {
     margin-left: auto;
     padding: 1em;
     border: none;
     border-right: .5em;
     background: none;
     cursor: pointer;
     transition: 0.3s ease-in-out;

 }

 #toggle-btn.rotate img {
     transform: rotate(180deg);
 }

 #toggle-btn:hover {
     filter: brightness(150%) ;
     transition: 300ms ease-in-out;
 }




#channelbar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

 .container-channels {
            width: 250px;
            background-color: #F8F8F8;
            opacity: .9;

            color:  #1C1C1E;
            height:100vh;
            padding: .79em;

        }

    .channel-item {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .gear-icon {
        transition: 0.3s ease-in-out;
    }

    .rotate-gear{
        transform: rotate(90deg);
    }

    .settings-btn {
        background: #0F3923;
        border-radius: 10vw;
        padding-right: 4px;
        padding-left: 4px;
        padding-top: 4px;
        border: none;
        cursor: pointer;
    }

    .settings-window {
        display: none; /* Hidden by default */
        position: absolute;
        background: #F5F5F5;
        border: 1px solid #ddd;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        width: 150px;
        border-radius: 5px;
        z-index: 1000;
    }

    .settings-window form {
        margin-bottom: 5px;

    }

    .settings-window button {
        background: #F5F5F5;
        color: #0F3923;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        transition: background 0.3s ease;
}

    .settings-window button:hover {
        background: darkred;
        color: #F5F5F5;
    }

    .settings-window .create button:hover {
        background: #0F3923;
        color: #F5F5F5;
    }

    .settings-window form button:hover{
        background: #0F3923;
        color: #F5F5F5;
    }

    .settings-window form button{
        background: #F5F5F5;
        color: #0F3923;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        transition: background 0.3s ease;
    }

    .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .modal-overlay h2{
        color: #0F3923;
    }
    .modal-overlay p{
        color: #1C1C1E;
        font-size: 12px;
        padding: 10px;
    }

.modal-content {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.confirm-delete {
    background: #F8F8F8;
    color: #1C1C1E;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.confirm-delete:hover {
    background: darkred;
    color: #F5F5F5;
}

.cancel-delete {
    background: #F8F8F8;
    color: #1C1C1E;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}
 .cancel-delete:hover {
    background: #0F3923;
    color: #F5F5F5;
}




        .workspace-name {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .channels {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .channel {
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
            width: 200px;
            transition: background 0.3s ease;
            background-color: #F5F5F5;
        }

        a:visited {
            color: #0F3923;
        }

        .channel:hover {
            background-color: #0F3923;
            color: #F5F5F5;
        }

        .create-channel {
            margin-top: 20px;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background: #F5F5F5;
            transition: background 0.3s ease;
        }

        .create-channel:hover {
            background-color: #0F3923;
            color: #F5F5F5;

        }


.channel-info-container {

}